.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.2s ease;
    color: black;
}

.modal-content {
    background: white;
    padding: 24px;
    border-radius: 10px;
    width: 500px;
    display: flex;
    column-gap: 35px;
    animation: scaleIn 0.2s ease;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}

.btn {
    margin-top: 15px;
    padding: 8px 12px;
    background: #d33;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn:hover {
    background: #b22;
}

.searchBox{
    display: flex;
    flex-direction: column;
    max-width: 200px;
}
.searchBox button{
    width: 75px;
}

.cityCard{
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}

.cityCard:hover{
    background-color: lightgray;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes scaleIn {
    from { transform: scale(0.9); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}
