.container{
    display: flex;
    flex-direction: column;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    margin-bottom: 5vh;
}

.container > div:first-of-type{
    font-size: x-small;
    margin-bottom: 15px;
}

.forecast-container > div{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    margin-bottom: 15px;
}

.forecast-container > div > div:nth-child(4){
    text-align: right;
}

.forecast-container > div > div:nth-child(2){
    text-align: right;
    margin-right: 5px;
}