.cityContainer{
    padding: 15px;
    display: flex;
    flex-direction: column;
    max-width: 200px;
}


#temperature{
    font-size: xx-large;
}
#cityName{
    font-size: smaller;
    cursor: pointer;
}
#weatherState{
    font-size: small;
} 
#minsmax{
    font-size: small;
}

@media (max-width: 600px){
    .cityContainer{
        margin-inline-start: 15px;
    }
}