body, #root{
  margin: 0;
  width: 100%;
}

.app-container{
  background: linear-gradient(180deg, #7db8e6 75%, #a7d5f7 100%);
  display: flex;
  box-sizing: border-box;
  min-height: 100dvh;
}

.forcast-container{
  min-width: 55vw;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.search-container{
  z-index: 999;
}

/*Mobil*/
@media (max-width: 600px){
  .app-container{
    flex-direction: column;
  }

  #creatorName{
    text-align: center;
  }

  .forcast-container{
    flex-grow: 1;
  }
}

/*Desktop*/
@media (min-width: 601px){
  .app-container{
    padding-top: 30px;
    justify-content: center;
  }
}
